
{{!
  Mustache template: dropdown_button.mustache
  Expects context:
  {
    "dropdown": {
      "id": "dropdown1",
      "label": "Schnellzugriff",
      "class": "btn-primary",
      "items": [
        {"label": "Option 1", "link": "#"},
        {"label": "Option 2", "link": "#"}
      ]
    }
  }
}}

<div class="dropdown mt-2">
  <button id="dropdown-{{dropdown.id}}" type="button" class="btn {{dropdown.class}} dropdown-toggle" data-bs-toggle="dropdown" data-toggle="dropdown" aria-expanded="false">
      {{#str}} quickaccess, taskflowadapter_ksw {{/str}}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdown-{{dropdown.id}}">
    {{#dropdown.items}}
      <li><a class="dropdown-item" href="{{link}}">{{label}}</a></li>
    {{/dropdown.items}}
  </ul>
</div>


